form [type=submit] {
    width: 80%;
    color: #ffffff;
    padding: 14px 20px;
    margin: 0;
    display: inline;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:32px;
}

.crimson {
    background-color: #DC143C;
}


.orange {
    background-color: #FF7F00;
}

.yellow {
    background-color: #FFFF00;
}

.green {
    background-color: #008000;
}

.lightblue {
    background-color: #ADD8E6;
}

.blue {
    background-color: #1B6EC2;
}

.lavender {
    background-color: #E6E6FA;
}

.violet {
    background-color: #663399;
}
