body {
    margin: 0;
    font-family: sans-serif;
}

form [type=submit] {
    width: 80%;
    color: white;
    padding: 14px 20px;
    margin: 0;
    display: inline;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:32px;
}

.yellow {
    background-color: #ffff00;
}

.crimson {
    background-color: #DC143C;
}

.green {
    background-color: #008000;
}

.blue {
    background-color: #1B6EC2;
}

.violet {
    background-color: #663399;
}
